body {
    background-image: url("back.jpg");
    background-size: cover;
}

p {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
}

.center-stage {
    margin: auto;
}

.postdate {
    text-align: center;
}